
main {
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  border: solid black 2px;
  width: 350px;
  height: 450px;
  overflow: hidden;
  background-color: white;
  transition: box-shadow .5s;
}

.card:hover {
  box-shadow: 8px 8px 0 0 black;
}

.c-header {
  height: 55%;
  overflow: hidden;
  border-bottom: 2px solid black;
}

.c-header img {
   height: 100%;
 }

.c-body {
  height: 30%;
  padding: 10px;
}

.c-footer {
  height: 15%;
  border-top: 2px black solid;
}
